.first {
    border: black 1px solid;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: plum;
    position: relative;
    left: 0;
    animation-name: bounce;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@keyframes bounce {
    0%{ left: 0;}
    100%{ left: 50%;}

}

span {
    border: black 1px solid;
    font-size: 2rem;
    animation-name: growshrink;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes growshrink {
    0% {font-size: 2rem;}
    100% {font-size: 8rem;}
}

.second {
    height: 100vh;
    border: powderblue 2px solid;
    position: relative;
    top: 0px;
    background-color: rebeccapurple;
    width: 200px;
    height: 200px;
    animation-name: spinner;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spinner {
    0% { top: 0;}
    100% { top: 500px;}
    
}