div {
    width: 400px;
    height: 200px;
    border: 10px dashed red;
    margin: 20px auto;
    background-image: url(https://sm.ign.com/t/ign_in/review/t/the-simpso/the-simpsons-simprovised-review_6rc7.1200.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 50px;
}

.shoes {
    box-sizing: border-box;
    border: 20px groove rebeccapurple;
}