ul {
    border: black 1px solid;
    text-align: center;
}
li {
    display: inline-block;
    margin: 10px;
    border-radius: 50px;
}

a {
    text-decoration: none;
}
a:hover {
    background-color: lightskyblue;
}
