body {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
nav {
    border: 1px black solid;
    width: 100%;
}
ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 1px solid black;
    list-style: none;
}
li {
    margin: 0 2% 0 2%;
}

div {
    width: 100%;
    border: 1px solid black;

}