nav {
    width: 19%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

div {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

ul {
    display: flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}