div {
    height: 25vh;
    width: 25vh;
    background-color: lightskyblue ;
    border: 1px black solid;
    border-radius: 50%;
    position: fixed;
    right: 0px;
    bottom: 0px;
    animation-name: santi;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal
    ;

}

@keyframes santi {
    0% { right: 0;
        bottom:0;}
    33% { right: 1680px;
    bottom: 0px;}
    66% { right: 1680px;
    bottom: 700px;}
    77% { right: 0px;
    bottom: 700px;}
    100% { right: 0;
        bottom:0;}
}
