div {
    height: 25vh;
    width: 25vh;
    background-color: lightskyblue ;
    border: 1px black solid;
    border-radius: 50%
}
 div:hover{
     transition-property: all;
     background-color: rebeccapurple;
     transition-duration: 2s;
     transition-timing-function: ease-in;

     
 }


