div {
    height: 50vh;
    width: 50vh;
    background-color: lightskyblue ;
    border: 1px black solid;
    border-radius: 50%
}



/*status - need the background color to change with transition when a hover occurs*/